
<div class="columns card bg-gray-50">
    <div class="column py-5 is-three-fifths">
        <!-- feed material -->
        <%= form_for [@exercice, @question] do |f| %>
        <div class="border rounded-md  p-2">
                
            <div class="mt-8">
                <%= render 'shared/validation_errors', :record => @question %>
                <%= render "layouts/shared/flash/notices" %>
            </div>
            <%= f.hidden_field :exercice_id, value: @exercice.id %>
                    
            <%= f.rich_text_area :content, placeholder: "> le contenu ...", class:"ln--field " %>
            <div class="my-2">
                <!-- render questions -->
                <%= render 'answer_fields', :f => f %>
            </div>
            <div class="mt-4">
                <%= f.rich_text_area :answer, placeholder: "> Explication ...", class:"ln--field bg-white" %>
            </div>
                        
            <div class="">
                <%= f.submit "Question Suivante", class:"button is-info p-2 rounded-md my-8" %>
            </div>
        </div>
        <% end %>
    </div>
    <div class="md:column ">
    <!-- feed course -->
        <div class="questions-column mt-8">
        
            <% if @exercice.questions.any? %>
                <div class="my-2">
                    <%= render 'added_questions', record: @exercice %>
                </div>
            <% else %>
                <p>Ajouter les questions!</p>
            <% end %>
        </div>
    </div>

</div>