<figure class="attachment attachment">

  <% if blob.representable? %>
    <% if Rails.env == 'production' %>
      <img class: "actiontext-image" src="https://<%= Rails.application.credentials.dig(:aws, :s3_bucket) %>.s3-<%= Rails.application.credentials.dig(:aws, :s3_region) %>.amazonaws.com/<%= blob.key %>" />
    <% else %>
      <%= image_tag blob.representation(resize_to_limit: local_assigns[:in_gallery] ? [ 800, 600 ] : [ 1024, 768 ]), class: "actiontext-image" %>
    <% end %>
  <% end %>

  <figcaption class="attachment__caption">
    <% if caption = blob.try(:caption) %>
      <%= caption %>
    <% else %>
      <span class="attachment__name"><%= blob.filename %></span>
    <% end %>
  </figcaption>
</figure>


<%= Rails.application.credentials.dig(:aws, :s3_bucket) %>
<%= Rails.application.credentials.dig(:aws, :s3_region) %>