<% @title="Inscription" %>

<div class="bg-blue-400 py-10 ">
  <div class=" bg-white ">
    <div class="border mx-4">
      <div class="border shadow-none">
      <h4 class="bold-semibold Text-base ">Bienvenue au Prépa Bac Bachelier(e)</h4>
      </div>
      
      <p class="mx-auto text-normal">
      Remplir ces champs et commence ton Prépa BAC Maintenant. <br>
      Tu es sur la bonne voie vers ton Bac 2022.
      </p>
    </div>
    <%= form_for(resource, as: resource_name, inline_errors: true, url: registration_path(resource_name)) do |f| %>

      <div class="px-2 md:px-4 py-2">
        <!-- First && last Name grouped -->
        <div class="field">
          <div class="field-body">
            <div class="field">
              <label class="label">Nom:</label>
              <div class="control is-expanded">
                <%= f.text_field :first_name, placeholder:"votre nom ...", class:"input rounded-md mx-auto" ,  hide_label:true %>
              </div>
            </div>

            <div class="field">
              <label class="label">Prénom:</label>
              <div class="control is-expanded">
                <%= f.text_field :last_name, placeholder:"Votre Prénom ...", class:"input rounded-md mx-auto" ,  hide_label:true %>
              </div>
            </div>
          </div>
        </div>
        
        <!-- N° matricule -->
        <div class="field">
          <label class="label">N° Matricule:</label>
          <div class="control">
            <%= f.text_field :matricule, placeholder:"N° Matricule ...",  class:"input rounded-md", 
              hide_label:true , help:"Votre N° matricule Ex: 10134330R" %>
          </div>
        </div>
        <!-- N° whatsapp  -->
        <div class="">
          <label class="label">N° WhatsApp:</label>
          <div class="control">
            <%= f.telephone_field :contact, placeholder:"N° WhatsApp ...", class:"rounded-md",
              hide_label:true, help:"Votre N° WhatsApp en 10 chiffres." %>
          </div>
        </div>
          
        <!-- City && Serie name -->
        <div class="field is-horizontal">
        <!-- City  name -->
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
              <label class="label">Ville :</label>
                <div class=" is-fullwidth mb-4">
                  <%= f.select :city_name, @city_ereas.map{|city_erea| [city_erea.title]},
                                    help:"Selectionne la ville de fréquentation ...", class:" rounded-md",  hide_label:true %>
                </div>
              </div>
            </div>
          </div>

        <!-- Level  name -->
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
              <label class="label">Série :</label>
                <div class=" is-fullwidth">
                  <%= f.select :level_name, @levels.map{|level| [level.title]},
                                  help:"Série A1 , A2 ou D ...", class:" rounded-md",  hide_label:true %>
                </div>
              </div>
            </div>
          </div>
        </div>
        
          <!-- Role -->
          <%= f.hidden_field :status, value:"Student" %>

          <!-- N° matricule -->
          <div class="mb-2">
            <label class="label">Etablissement:</label>
            <div class="control">
              <%= f.text_field :school_name, placeholder:"Etablissement ...",
              class:"rounded-md",  hide_label:true, help:"Nom de votre Etablissement" %>
            </div>
          </div>
            <div class="my-4">
              <%= f.label "Je suis :", class:"font-bold" %> <br>
              <%= f.radio_button :gender, :Homme, inline: true, checked: true, class:"" %> <span class="mr-6">Une Femme</span>
              <%= f.radio_button :gender, :Femme, inline: true %> Un Homme
            </div>
        
         <div class="mb-4">
            <%= f.check_box :terms, checked: true %>
              Décochez cette case pour si vous n'acceptez nos <%= link_to "conditions d'utilisation", "#", class:"no-underline font-semibold" %>  et notre <%= link_to "politique de confidentialité", "#", class:"font-semibold" %> 
            
         </div>
          

          <div class="actions">
            <%= f.submit "Terminer L'Inscription" , class:"button is-info" %>
          </div>

      </div>
    <% end %>
  </div>
</div>




<!-- component -->
<!-- This is an example component -->
<div class="max-w-2xl mx-auto bg-white p-16">

	<form>
    <div class="grid gap-6 mb-6 lg:grid-cols-2">
        <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">First name</label>
            <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required>
        </div>
        <div>
            <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Last name</label>
            <input type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Doe" required>
        </div>
        <div>
            <label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Company</label>
            <input type="text" id="company" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Flowbite" required>
        </div>  
        <div>
            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Phone number</label>
            <input type="tel" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
        </div>
        <div>
            <label for="website" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Website URL</label>
            <input type="url" id="website" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="flowbite.com" required>
        </div>
        <div>
            <label for="visitors" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Unique visitors (per month)</label>
            <input type="number" id="visitors" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
        </div>
    </div>
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email address</label>
        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" required>
    </div> 
    <div class="mb-6">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Password</label>
        <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required>
    </div> 
    <div class="mb-6">
        <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Confirm password</label>
        <input type="password" id="confirm_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required>
    </div> 
    <div class="flex items-start mb-6">
        <div class="flex items-center h-5">
        <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required>
        </div>
        <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-400">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>

	<p class="mt-5">These input field components is part of a larger, open-source library of Tailwind CSS components. Learn
		more by going to the official <a class="text-blue-600 hover:underline"
			href="https://flowbite.com/docs/getting-started/introduction/" target="_blank">Flowbite
			Documentation</a>.
	</p>
</div>