<% @title="Inscription" %>

<!-- component -->
<!-- This is an example component -->
<div class="max-w-2xl mx-auto bg-white my-2 p-2">
<div class="bg-white ">
  <div class="border">
    <div class="border bg-gray-200 max-w-2xl  rounded-md-b">
      <h4 class="font-bold mx-auto text-2xl ">Bienvenue Sur Lnclass Prépa Bac 2022 </h4>
    </div>
     
    <p class="mx-auto text-black p-2">
      Inscrivez-vous en remplissant ces champs correctement et <br>
      commencez votre Prépa Bac Maintenant. <br>
      <i class="">Vous êtes sur la bonne voie vers le Bac 2022.</i>
    </p>
  </div>

    <%= form_for(resource, as: resource_name, inline_errors: true, url: registration_path(resource_name)) do |f| %>

      <div class="px-2 md:px-4 py-2">
        <!-- First && last Name grouped -->
        <div class="field">
          <div class="field-body">
            <div class="field">
              <label class="label">Nom:</label>
              <div class="control is-expanded">
                <%= f.text_field :first_name, placeholder:"votre nom ...", class:"input rounded-md mx-auto" ,  hide_label:true %>
              </div>
            </div>

            <div class="field">
              <label class="label">Prénom:</label>
              <div class="control is-expanded">
                <%= f.text_field :last_name, placeholder:"Votre Prénom ...", class:"input rounded-md mx-auto" ,  hide_label:true %>
              </div>
            </div>
          </div>
        </div>
        
        <!-- N° matricule -->
        <div class="field">
          <label class="label">N° Matricule:</label>
          <div class="control">
            <%= f.text_field :matricule, placeholder:"N° Matricule ...",  class:"input rounded-md", 
              hide_label:true , help:"Votre N° matricule Ex: 10134330R" %>
          </div>
        </div>
        <!-- N° whatsapp  -->
        <div class="">
          <label class="label">N° WhatsApp:</label>
          <div class="control">
            <%= f.telephone_field :contact, placeholder:"N° WhatsApp ...", class:"rounded-md",
              hide_label:true, help:"Votre N° WhatsApp en 10 chiffres." %>
          </div>
        </div>
          
        <!-- City && Serie name -->
        <div class="field is-horizontal">
          <!-- City  name -->
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <label class="label">Ville :</label>
                <div class="select is-fullwidth mb-4">
                  <%= f.select :city_name, @city_ereas.map{|city_erea| [city_erea.title]},
                                    help:"Selectionne la ville de fréquentation ...", class:" rounded-md",  hide_label:true %>
                </div>
              </div>
            </div>
          </div>

          <!-- Level  name -->
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
              <label class="label">Série :</label>
                <div class="select is-fullwidth">
                  <%= f.select :level_name, @levels.map{|level| [level.title]},
                                  help:"Série A1 , A2 ou D ...", class:" rounded-md",  hide_label:true %>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- Role -->
          <%= f.hidden_field :status, value:"Student" %>
          <!-- N° matricule -->
          <div class="mb-2">
            <label class="label">Etablissement:</label>
            <div class="control">
              <%= f.text_field :school_name, placeholder:"Etablissement ...",
              class:"rounded-md",  hide_label:true, help:"Nom de votre Etablissement" %>
            </div>
          </div>
            <div class="my-4">
              <%= f.label "Je suis :", class:"font-bold" %> <br>
              <%= f.radio_button :gender, :Homme, inline: true, checked: true, class:"" %> <span class="mr-6">Une Femme</span>
              <%= f.radio_button :gender, :Femme, inline: true %> Un Homme
            </div>
        
         <div class="mb-4">
            <%= f.check_box :terms, checked: true %>
              Décochez cette case si vous n'acceptez nos <%= link_to "conditions d'utilisation", "#", class:"no-underline font-semibold" %>  et notre <%= link_to "politique de confidentialité", "#", class:"font-semibold" %> 
         </div>
          <div class="actions">
            <%= f.submit "Terminer L'Inscription" , class:"button is-info" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>