<%= form_with(model: city_erea, class: "contents") do |f| %>
  <% if city_erea.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(city_erea.errors.count, "error") %> prohibited this city_erea from being saved:</h2>

      <ul>
        <% city_erea.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= f.label :"Ville ..." %>
    <%= f.text_field :title, 
    class: "input rounded-md border border-gray-200
     outline-none px-3 py-2 mt-2 w-full",
      placeholder:"la ville ...", autofocus: true  %>
  </div>


  <div class="inline">
    <%= f.submit "Créer la ville", class: "button is-info rounded" %>
  </div>
<% end %>
