<div id="<%= dom_id landpage %>">

<%= render "landpages/shared/landpage_page" if current_user %>
  
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= landpage.title %>
  </p>

  <div class=" relative z-10 pt-[100px] md:pt-[100px] lg:pt-[100px] pb-[100px] ">
      <div class="container bg-primary p-8">
        <div class="flex flex-wrap items-center -mx-4 ">
          <div class="w-full px-2 ">
              <h1 class="text-center font-semibold text-white text-3xl ">
                <span class="underline">Corriger mes Lacunes organisé par Lnclass Education</span>
               </h1>
          </div>
        </div>
      </div>
  <div>

  <div class=" border bg-white p-2">
    <%= landpage.content %>
  </div>

    <hr class="mt-6">
 <div class=" relative z-10 ">
      <div class="container bg-primary p-8">
        <div class="flex flex-wrap items-center -mx-4 ">
          <div class="w-full px-2 ">
              <h1 class="text-center font-semibold text-white text-2xl ">
                <span class="underline"> <%= link_to "S'inscrire pour participer au programme", landpage, class: " ml-4 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %></span>
               </h1>
          </div>
        </div>
      </div>
  <div>

  

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= landpage.status %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this landpage", landpage, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this landpage', edit_landpage_path(landpage), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
