<% @title="Partenaire" %>

<div class="container card ">
    <div class="flex">
        <h2 class="bold-bold Text-3xl mt-10">Créer votre compte partenaire</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <!-- First && last Name grouped -->
    <div class="field">
        <div class="field-body">
            <div class="field">
              <label class="label">Nom:</label>
              <div class="control is-expanded">
                <%= f.text_field :first_name, placeholder:"votre nom ...", class:"input rounded-md mx-auto",  hide_label:true, autofocus: true %>
                <small class="italic">Ex: Koffi</small>
              </div>
            </div>

            <!-- First && last Name grouped -->
            <div class="field">
              <label class="label">Prénom:</label>
              <div class="control is-expanded">
                <%= f.text_field :last_name, placeholder:"Votre Prénom ...", class:"input rounded-md mx-auto" ,  hide_label:true %>
                <small class="italic">Ex: Mariam</small>
              </div>
            </div>
        </div>
    </div>
    
    <!-- N° whatsapp  -->
    <div class="">
      <label class="label">N° WhatsApp:</label>
      <div class="control">
        <%= f.telephone_field :contact, placeholder:"N° WhatsApp ...", class:"input rounded-md" %>
      </div>
    </div>
    
    <!-- Email  -->
    <div class="">
      <label class="label">Email:</label>
      <div class="control">
        <%= f.email_field :email, placeholder:"Votre Email ...", class:"input rounded-md" %>
      </div>
    </div>
    
    <!-- First && last Name grouped -->
    <div class="field">
        <div class="field-body">
            <div class="field">
              <label class="label">Nom du media:</label>
              <div class="control is-expanded">
                <%= f.text_field :school_name, placeholder:"Nom du groupe ...", class:"input rounded-md mx-auto",  hide_label:true, autofocus: true %>
                <small class="italic">Ex: Prépa Bac Philo</small>
              </div>
            </div>

            <div class="field">
              <label class="label">Code Reduction:</label>
              <div class="control is-expanded">
                <%= f.text_field :referral_out, placeholder:"Votre code (6 caractères) ...", class:"input rounded-md mx-auto" ,  hide_label:true %>
                <small class="italic">Ex: Lprepa</small>
              </div>
            </div>
            <div class="field">
              <label class="label">Ville:</label>
              <div class="control is-expanded">
                <%= f.text_field :city_name, placeholder:"Votre Prénom ...", class:"input rounded-md mx-auto" ,  hide_label:true %>
                <small class="italic">Ex: Abidjan</small>
              </div>
            </div>
        </div>
    </div>

        <!-- Password  -->
    <div class="">
      <label class="label">Mot de passe:</label>
      <div class="control">
        <%= f.password_field :password, placeholder:"*******", class:"input rounded-md" %>
      </div>
    </div>
    
    <!-- Role -->
    <div class="">
        <%= f.hidden_field :status, value:"Partner"%>  
    </div>
     <!-- Role -->
   
    <!-- Terms -->
    <div class="field mt-4">
      <div class="control">
        <label class="checkbox">
        <%= f.check_box :terms , checked: true%>
          Accepter les <%= link_to 'termes', "#", class:"no-underline font-semibold" %> et <%= link_to "Conditions d'utilisation", "#", class:"font-semibold" %>
        </label>
      </div>
    </div>
    <!-- Gender -->
    <div class="field">
      <p class="">Je suis :</p>
      <div class="control">
        <label class="radio" >
        <%= f.radio_button :gender, :Femme, checked: true %>
        Une Femme
        </label>
        <label class="radio">
        <%= f.radio_button :gender, :Homme %>     
        Un Homme
        </label>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Créer le compte partenaire" , class:"button is-info mb-10" %>
    </div>
<% end %>
    
</div>