<div id="<%= dom_id course %>" class="border rounded-md p-2 m-2 bg-white">

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= course.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= course.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level name:</strong>
    <%= course.level_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Material name:</strong>
    <%= course.material_name %>
  </p>

 

  <% if action_name != "show" %>
    <%= link_to "Show this course", course, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this course', edit_course_path(course), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    
  <% end %>
</div>
