<%= form_with(model: course, class: "contents") do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <label class="label">Titre:</label>
    <div class="control">
      <%= f.text_field :title, label:"Titre ...", class: "ln--field" , placeholder:"Le titre ..." %>
    </div>
  </div>


  <div class="">
    <label class="label">Contenu:</label>
    <div class="my-5">
      <%= f.rich_text_area :content, row:4, placeholder:"Contenu ...", class: "block rounded-md border border-gray-200 bg-white px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="flex mt-2">
    <div class="field mx-2">
      <label class="label">La Tle:</label>
      <div class="control">
        <div class="select">
          <%= f.select :level_name, @levels.map{|level| [level.title]},  placeholder:"Tle A1 , A2 ou D ...", class:"rounded-md" %>
        </div>
      </div>
    </div>

    <div class="field mx-2">
      <label class="label">La matière:</label>
      <div class="control">
        <div class="select">
          <%= f.select :material_name, @materials.map{|material| [material.title]},  placeholder:"Matiere ...", class:"rounded-md" %>
        </div>
      </div>
    </div>    
  </div>

  <div class="inline">
    <%= f.submit "Créer la Léçon", class: "button is-info rounded-md bg-blue-600 text-white font-medium " %>
  </div>
<% end %>
