
<%= render "home/shared/navbar" %> 
<div class="mt-20 bg-gray-200"></div>
<div class="container mx-auto m">
    <div class=" m-8 ">
        <%= form_for @exercice, url: course_exercices_path() do |f| %>
            <%= render 'shared/validation_errors', :record => @exercice %>
                <div class="">
                    <%= f.text_field :name , class:" input rounded-md ln--field", placeholder:"le title de l'exercice ..." %>
                </div>
                    <%= f.hidden_field :course_id, value: @exercice.course_id %>
                <div class="mt-2">
                    <%= f.submit "Créer exercice", class:"button is-info p-2 rounded-md bg-blue-400 font-bold text-white" %>
                </div>
        <% end %>
    </div>
</div>
