<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="description" content="<%= description %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <!-- favico-->
     <%= favicon_link_tag asset_path('HomePage/flavico.png') %>
     <!-- Tailwind css -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

     <!-- WOW Script -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
     <!-- WOW init -->
     <script> new WOW().init();</script>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    
     <% if Rails.env == 'production' %>
     <!-- ANALYTICS PROD -->
      <%= render "shared/matomo_analytics" %>
     
     <% end %>
  </head>

  <body class="bg-gray-200">
    <%= render "layouts/shared/flash/notices" %>
      <%= yield %> 
      <!-- Put this part before </body> tag -->

  </body>
</html>
